html{
	height: 100%;
}

body {
	margin: 0px;
	font-family: Georgia,Times, serif;
	font-size: 2em;
	min-width: 550px;
	height: 100%;
	background-color: oldlace;
}

header {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100px;
	color: white;
}

#logo {
	width: 15%;
	min-width: 130px;
	height: 100%;
	position: relative;
	float: left;
}

form {
	position: relative;
	width: 85%;
	height: 100%;
	left: 20%;
}

@media all and (max-width: 500px) {
	form {left: 0;}
}

.inputSearch {
	font-size: 20px;
	height: 36px;
	width: 35%;
	min-width: 200px;
	float: left;
	padding: 0;
	margin-top: 30px;
}

@media (max-width: 750px) {
	.inputSearch {
		font-size: 15px;
	}
}

.submitSearch {
	height: 40px;
	width: 40px;
	margin-top: 30px;
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-position: center;
}